code a:hover {text-decoration: none;}
code { background: #9ec1e6; padding: 0px;}
pre { background: #9ec1e6; padding: 6px; overflow-x: auto;}
pre > code { background: #9ec1e6; padding: 0px;}
code span { color: #1f1c1b; } /* Normal */
code span.al { color: #bf0303; background-color: #f7e6e6; font-weight: bold; } /* Alert */
code span.an { color: #ca60ca; } /* Annotation */
code span.at { color: #0057ae; } /* Attribute */
code span.bn { color: #b08000; } /* BaseN */
code span.bu { color: #644a9b; font-weight: bold; } /* BuiltIn */
code span.cf { color: #1f1c1b; font-weight: bold; } /* ControlFlow */
code span.ch { color: #924c9d; } /* Char */
code span.cn { color: #aa5500; } /* Constant */
code span.co { color: #898887; } /* Comment */
code span.cv { color: #0095ff; } /* CommentVar */
code span.do { color: #607880; } /* Documentation */
code span.dt { color: #0057ae; } /* DataType */
code span.dv { color: #b08000; } /* DecVal */
code span.er { color: #bf0303; text-decoration: underline; } /* Error */
code span.ex { color: #0095ff; font-weight: bold; } /* Extension */
code span.fl { color: #b08000; } /* Float */
code span.fu { color: #644a9b; } /* Function */
code span.im { color: #ff5500; } /* Import */
code span.in { color: #b08000; } /* Information */
code span.kw { color: #1f1c1b; font-weight: bold; } /* Keyword */
code span.op { color: #1f1c1b; } /* Operator */
code span.ot { color: #006e28; } /* Other */
code span.pp { color: #006e28; } /* Preprocessor */
code span.re { color: #0057ae; background-color: #e0e9f8; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #ff5500; } /* SpecialString */
code span.st { color: #bf0303; } /* String */
code span.va { color: #0057ae; } /* Variable */
code span.vs { color: #bf0303; } /* VerbatimString */
code span.wa { color: #bf0303; } /* Warning */

html {
  font-size: 62.5%;
}


body {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  color: #232a30;
  /*background-color: #bcdaf7;*/ 
  background: -webkit-linear-gradient(to bottom,#bcdaf7, #7cb2e6) fixed, #7cb2e6;
  background: -moz-linear-gradient(to bottom,#bcdaf7, #7cb2e6) fixed, #7cb2e6;
  background: -o-linear-gradient(to bottom,#bcdaf7, #7cb2e6) fixed, #7cb2e6;
  background: linear-gradient(to bottom,#bcdaf7, #7cb2e6) fixed, #7cb2e6;
  background-repeat: no-repeat;
  min-height: 100%;
}

a {color:#203169;
  text-decoration: none;
}

a:visited {color: #6472a1}

a:hover {text-decoration:underline;}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: left;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000 !important;
  text-decoration: none !important;
  text-align: left
}


.picrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.picturediv {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  padding: 20px;
}

.picture {
  max-width:100%;
  max-height:100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

figcaption {
  text-align: center;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-style: italic;
  font-weight: bolder;
  color: #000;
  text-decoration: none;
  text-align: left;
}

.small {width: 15px;
        height: auto;}


@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }

  .rss {
    float: left;
  }

}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: right;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }

  .rss {
    float: left;
  }

}

@media (min-width: 640px) {
  body {
    width: 90rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }

  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }

  .rss {
    float: left;
  }

}

@media (prefers-color-scheme: dark) {
	code { background: #4f6073; padding: 0px;}
	pre { background: #4f6073; padding: 6px; overflow-x: auto;}
	pre > code { background: #4f6073; padding: 0px;}
  body {
    color: #8ca8c0;
    /*background-color: #bcdaf7;*/
    background: -webkit-linear-gradient(to bottom, #2f363d, #1f2c39) fixed,
      #1f2c39;
    background: -moz-linear-gradient(to bottom, #2f363d, #1f2c39) fixed,
      #1f2c39;
    background: -o-linear-gradient(to bottom, #2f363d, #1f2c39) fixed,
      #1f2c39;
    background: linear-gradient(to bottom, #2f363d, #1f2c39) fixed, #1f2c39;
  }
  a { color: #4062d2; text-decoration: none;}
  header { border-bottom: 0.2rem solid #aaa;}
  footer {   border-top: 0.2rem solid #aaa; }
  nav a { color: #aaa !important; }
  .logo a { color: #aaa !important; }
}
